<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGPA Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Coda+Caption&display=swap" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

        <div class="feedback-card">
            <h1 class="head">CGPA Calculator</h1>
            <p class="para">This calculator is only for 5th Semester Sathyabama University students. This is currently in Beta Version. CGPA 2.0 version will be releasing shortly for all semesters with Subject codes and credits. If anyone are good in MERN stack DM in <img src="images/linkedin-original.svg" alt=""> <span>Vivek-Malla</span> or 📧 Mail me <span>thisisvivekmalla@gmail.com </span></p>
            <form class="feedback-body" action="/submit" method="post">
            <input type="number" name="nosub" placeholder="NUMBER OF SUBJECTS" id="">
<br>
➥<input type="number" name="s1" placeholder="Enter your Marks (SCIA4001)" id="">
➥<input type="number" name="s2" placeholder="Enter your Marks (SCSA1501)"id="">
➥ <input type="number" name="s3" placeholder="Enter your Marks (SCSA1502)"id="">
➥ <input type="number" name="s4" placeholder="Enter your Marks (SCSA1503)" id="">
➥ <input type="number" name="s5"placeholder="Enter your Marks (SITA1502)" id="">
➥ <input type="number" name="s6"placeholder="Enter your Marks (SITA1503)" id="">
➥ <input type="number" name="s7"placeholder="Enter your Marks (S11APT)" id="">
➥ <input type="number" name="s8"placeholder="Enter your Marks (SCSA2501)" id="">
➥ <input type="number" name="s9" placeholder="Enter your Marks (SCSA2502)" id="">
            <button>submit</button>
            </form>
            <h1 class="feedback-header">Designed by Vivek-Malla ✌✌</h1>
        </div>
</body>
</html>