<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGPA Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Coda+Caption&display=swap" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 class="head">CGPA Calculator</h1>
<p class="para">Don't worry amigoes this marks are not at all usefull in your future. Even attendence is one of the worst thing to maintain in our college. So cool 😎😎😎</p> <br>
   <p class="para"> <img src="images/linkedin-original.svg" alt=""> <span>Vivek-Malla</span> or 📧 Mail me <span>thisisvivekmalla@gmail.com </span>

</p>
        <div class="feedback-card">
            <div class="feedback-body">
            <h1 style="text-align: center;">CGPA : <%= total %></h1>
            </div>
            <h1 class="feedback-header">Designed by Vivek-Malla ✌✌</h1>
        </div>
</body>
</html>